
body {
  font-family: sans-serif;
}

.react-flow__node-custom {
  background: #fff;
  border: 1px solid #1a192b;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.react-flow__node.selected > .react-flow__node-custom {
    border: 2px solid green;
    box-shadow: 0 0 10px green;
}


.react-flow__node-custom .react-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1a192b;
}

.img-preview {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
